//
// Catfish base
//===================

.catfish {
  visibility: hidden;
  position: fixed;
  //left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  z-index: 500;
  transition: visibility 0s linear .3s;

  &.is-visible {
    visibility: visible;
    transition-delay: 0s;
  }

  .wrap {
    position: relative;
    height: 0;
    transform: translateZ(0);
    width: 100%;
    padding: 0;

    @include media(320px) {
      width: 320px;
    }
  }
}