//
// Comments Panel
//=====================

.catfish__comments {
  //margin: 0 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 20px;

  a:last-child {
    margin-left: 10px;
  }
}