.inpost {
  padding: 20px;
  border: 10px solid $yellow;

  @include media(768px) {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);

    .widget {
      @include span-columns(6);

      &:nth-child(2) {
        @include omega();
      }
    }
  }
}