//
// Home (front) page
// ============================

body.home {

  background-color: #e8e8e8;

  .site-inner {
    padding-top: 0;

    .wrap {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }

  .entry {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
  }
}