//
// Pain Points
// ============================

.pain-points {
  overflow: hidden;
}

.pain-point__content, .pain-point__point {
  float: left;
  height: 300px;
  width: 100%;
  color: $white;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  text-align: center;
  padding: 16px 24px;

  @include media($large-screen-up) {
    padding: 20px 40px;
  }

  &.right-align {
    float: right;
  }

  &.gray {
    background-color: #ced2b7;
    color: $black;
  }

  &.orange {
    background-color: $orange;
  }

  &.green {
    background-color: $green;
  }

  &.blue {
    background-color: $blue;
  }

  .fa {
    font-size: rem(40);
    display: block;
  }

  h2,h3,h4, .fa {
    text-align: center;
    color: $white;
  }

  @include media($smaller-screen-up) {
    width: 50%;
  }

  @include media($small-screen-up) {
    padding: 24px;
    .fa {
      font-size: rem(40);
    }
  }
  @include media($large-screen-up) {
    padding: 40px;
    .fa {
      font-size: rem(70);
    }
  }
}

.pain-point__point {
  background-color: $blue;

  h2, h3 {
    font-size: rem(18);
    @include media($small-screen-up) {
      font-size: rem(22);
    }
    @include media($medium-screen-up) {
      font-size: rem(30);
    }
  }
}
.pain-point__content {
  background-color: $green;
  font-size: rem(18);

  @include media($small-screen-up) {
    font-size: rem(22);
  }
}