.menu__container-social {
  margin: 40px 0;
  border-top: 1px solid lighten( $orange, 5%);
  padding: 10px 2%;

  p {
    color: $yellow;
    font-family: $header-font-family;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: 0 10px 0 0;
  }

  a {
    color: $white;
    border-bottom: none;
    font-size: 40px;
    line-height: 40px;
    &:hover {
      color: $yellow;
      img {
        border: 1px solid $yellow;
      }
    }
  }

  img {
    width: 50px;
    height: 50px;
  }
}