@include keyframes(codeMakesSenseStart) {
  0% {
    opacity: 0;
    @include transform(scale3d(.3, .3, .3));
  }

  50% {
    opacity: 1;
  }

  60% {
    @include transform(rotate(0deg));
  }

  75% {
    @include transform(rotate(10deg));
  }

  100% {
    @include transform(rotate(0deg));
  }
}

.codeMakesSenseStart {
  @include animation-duration(3s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, codeMakesSenseStart);
}

@include keyframes(ahaRollIn) {
  0% {
    opacity: 0;
    @include transform(translateX(-100%) rotate(-$base-degrees * 4));
  }

  100% {
    opacity: 1;
    @include transform(translateX(0px) rotate(0deg));
  }
}

.ahaRollIn {
  @include animation-delay(2s);
  @include animation-duration(2s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, ahaRollIn);
}

@include keyframes(aha) {
  0% { opacity: 0; }
  5% {
    opacity: 1;
    @include transform( skewX(9deg) );
  }
  10% { @include transform( skewX(-8deg) ); }
  20% { @include transform( skewX(7deg) ); }
  30% { @include transform( skewX(-6deg) ); }
  40% { @include transform( skewX(5deg) ); }
  50% { @include transform( skewX(-4deg) ); }
  60% { @include transform( skewX(3deg) ); }
  70% { @include transform( skewX(-2deg) ); }
  80% { @include transform( skewX(1deg) ); }
  90% { @include transform( skewX(0deg) ); }
  100% { @include transform( skewX(0deg) ); }
}

.aha {
  @include animation-delay(2s);
  @include animation-duration(2s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, aha);
}

@include keyframes(handsOnKeyboard) {
  0% {
    opacity: 0;
    visibility: hidden;
    bottom: -100%;
  }
  10% {
    @include transform(translate3d(50%, 100%, 0));
  }
  40% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
  }
}

.handsOnKeyboard {
  @include animation-duration(2s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, handsOnKeyboard);
}

@include keyframes(flickBug) {
  0% {
    opacity: 0;
    visibility: hidden;
    left: -100%;
  }
  10% {
    @include transform(translate3d(50%, 100%, 0));
  }
  40% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
  }
}
.flickBug {
  //@include animation-delay(2s);
  @include animation-duration(2s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, flickBug);
}

@include keyframes(bugRollAway) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
    opacity: 0;
  }
}

.bugRollAway {
  @include animation-delay(2s);
  @include animation-duration(2s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, bugRollAway);
}

@include keyframes(slideRightThenLeft) {
  0% {
    opacity: 0.5;
    z-index: -1;
    @include transform(translate3d(0, 0, -1px));
  }
  30% {
    @include transform(translateX(90%));
  }
  60% {
    z-index: 10;
    @include transform(translateX(0));
  }
  100% {
    z-index: 10;
    opacity: 1;
  }
}

.slideRightThenLeft {
  @include animation-duration(10s);
  @include transform-style(preserve-3d);
  @include animate-prefixer(animation-name, slideRightThenLeft);
}

@include keyframes(slideLeftThenRight) {
  0% {
    opacity: 1;
    @include transform(translateX(0));
  }
  30% {
    @include transform(translateX(100%));
  }
  60% {
    z-index: 10;
    @include transform(translateX(0));
  }
}

.slideLeftThenRight {
  @include animate-prefixer(animation-name, slideLeftThenRight);
}