/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  background: $comments-background-color;
  padding: 40px;
  margin-bottom: 40px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.entry-comments ul.children {
  margin-left: 40px;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 24px;
}

.comment-meta,
.entry-comments
.comment,
.entry-comments .comment-reply {
  margin-bottom: 40px;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
  margin-bottom: 0;
}

.comment .avatar {
  margin: 0 16px 24px 0;
}

.form-allowed-tags {
  font-size: $secondary-font-size;
}