//
// MemberPress links
//============================

.utility-bar {

  #mepr-logged-in-widget, #mepr-account-links {
    list-style-type: none;

    li, & {
      display: inline-block;
    }

    @include media($small-screen-up) {
      float: right;
    }

    li {
      margin-left: 7px;
    }

    li+li::before {
      content: '/';
      padding-right: 7px;
    }
  }
}
