/* Utility Bar
--------------------------------------------- */

.utility-bar {

  .search-form input[type="search"] {
    margin: 0;
    padding: 10px 0;
  }

  .widget-title {
    display: none;
  }

  .widget_text {
    margin-left: 7px;

    @include media($small-screen-up) {
      float: right;
      text-align: right;
    }

    .separator {
      padding-right: 7px;
    }
  }
}
