//
// Fullpage Title Areas
//========================

.fullpage-title {
    background-color: $green;

    h1, h3, h3, p, & {
      color: $white;
    }

    margin: 20px -500%;
    padding: 20px 500%;

    body.blog &, body.archive & {
        margin-bottom: 60px;
    }
}