//
// Info box
//====================

.infobox {
  background-color: #f2f2f2;
  overflow: hidden;
  padding: 20px;
  margin: 30px 0;

  &.gray {
    background-color: $gray;
  }

  &.orange {
    background-color: $orange;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
  }

  &.reminder {
    background-color: #adcd00;
  }

  &.alert {
    background-color: $red;
  }

  &.warning {
    background-color: $yellow;
  }

  &.info {
    background-color: $blue;
  }

  &.alert, &.info, &.green, &.orange {
    h1, h2, h3, h4, h5, p, & {
      color: $white;
    }
  }
}