#hello-logo {
  border-bottom: none;
  width: 150px;
  height: 79px;
}

.hello-path {
  fill: $orange;
  stroke: $orange;
  stroke-dasharray: 140, 140;
  stroke-dashoffset: -140;
  animation-timing-function: linear;
  animation-name: helloDash;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

$paths: 5;
$delays: ( 0.3s, 1.1s, 1.5s, 1.4s, 1.9s, 2.3s );
$strokeDashoffsets: ( -130px, -60px, -65px, -40px, -50px );
@for $index from 1 through $paths{
  .hello-path:nth-child(#{$index}){
    animation-delay: nth($delays, $index );
    stroke-dashoffset: nth($strokeDashoffsets, $index );
  }
}

@include keyframes(helloDash) {
  to {
    stroke-dashoffset: 0;
    fill: $orange;
  }
}