//
// Hello Bar
//=====================

.hello-bar {
  display: none;

  background-color: $orange;
  &:hover, &:focus, &:active {
    background-color: #f6dbd0;
  }

  @include media($small-screen-up) {
    z-index: 9999;
    position: fixed;
    width: 100%;

    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    color: $white;
    text-align: left;
  }

  .wrap {
    width: 100%;
    max-width: 100%;
  }
}