
/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $heading-font-family;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  &.orange {
    color: $orange;
  }

  &.green {
    color: $green;
  }

  &.yellow {
    color: $yellow;
  }
}

$headingScaler: 0.8;
h1 {
  font-size: ($h1-font-size * $headingScaler);

  @media screen and (min-width: 800px) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: ($h2-font-size * $headingScaler);

  @media screen and (min-width: 800px) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: ($h3-font-size * $headingScaler);

  @media screen and (min-width: 800px) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: ($h4-font-size * $headingScaler);

  @media screen and (min-width: 800px) {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: ($h5-font-size * $headingScaler);

  @media screen and (min-width: 800px) {
    font-size: $h5-font-size;
  }
}

h6 {
  font-size: ($h6-font-size * $headingScaler);

  @media screen and (min-width: 800px) {
    font-size: $h6-font-size;
  }
}