//
// Page Headers
//=======================

.entry.membership .entry-header, .entry.docx .entry-header,
.archive-description, body.bbpress .entry-header,
body.blog .page-header,
.type-memberpressproduct .entry-header {
    @include page_header();
}

.entry.membership .entry-header, .entry.docx .entry-header,
body.bbpress .entry-header, .type-memberpressproduct .entry-header {

  @include media($huge-screen) {
    margin-left: -24vw;
    margin-right: -24vw;
    padding-left: 24vw;
    padding-right: 24vw;
  }
}

.entry.membership .entry-header, body.blog .page-header,
.type-memberpressproduct .entry-header {
  background-image: url(#{$imagePath}/header-pro-membership-3.jpg);
}

.entry.docx .entry-header {
  background-image: url(#{$imagePath}/header-docs-3.jpg);
}

.type-memberpressproduct.post-99 .entry-header,
.type-memberpressproduct.post-100 .entry-header {
  background-image: url(#{$imagePath}/header-basic-membership-3.jpg);
}