//
// Colors
//======================

$green: #627f00; // primary brand color
$black: #010204; // text color
$darkBlue: #1b202d; // heading color

$blue: #1c202c;
$blueTint: #5f616d;
$blueShade: #131521;
$bluePastel: #d1d2d6;

$white: #fff;
$orange: #cb4b14;
$orangeLight: #cc4b14;

$gray: #cccccc;
$red: #FF4614;
$yellow: #ffc40d;

$colorPHP: #777bb4;
$colorJS: #f0da50;
$colorjQuery: #0d4872;
$colorWordPress: #00749b;
$colorGenesis: #1e1e1e;
$titleBannerColor: #f2f2f2;

$colorPro: #adcd00;
$colorProBorder: #adcd00;
$colorBasic: #f58728;
$colorBasicBorder: #f48728;
$colorFree: #465573;

$comments-background-color: $white;
$author-box-background: lighten($black, 92);