//
// Widths
//==================================

$max-width: 1140px;

$base-wrap-max-width: $max-width - 372px; // 768px;
$wrap-max-width-medium: $max-width - 180px; // 960px
$wrap-max-width-large: $max-width;

$headerHeight: 98px;