blockquote {
  .pullleft, .pullright {
    margin: 30px 0;
    padding: 0;
  }
}

.pullleft, .pullright {
  &::before {
    display: none;
    font-size: 0;
    content: "";
  }
}

span.quote__left, span.quote__right {
  max-width: 35%;
  margin: 15px;
  padding: 10px;
  border: none;
  background-color: $yellow;
  color: $black;
  font-style: italic;
  font-size: 110%;

  &.gray {
    background-color: $gray;
  }

  &.light {
    background-color: #f2f2f2;
  }

  &.orange {
    background-color: $orange;
    color: $white;
  }

  &.green {
    background-color: $green;
    color: $white;
  }
}

span.quote__ {
  &left {
    margin-left: 0;
    float: left;
    text-align: left;
  }
  &right {
    margin-right: 0;
    float: right;
    text-align: right;
  }
}