/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widgettitle {
	letter-spacing: 1px;
	margin: 10px 0 24px;
	font-family: $serif;
	//text-transform: uppercase;
}

.sidebar .widgettitle a {
	border: 0;
	color: $darkBlue;
}


